* {
  padding: 0;
  margin: 0;
}

.product{
  background-color: lightgray;
  text-align: center;
}

.bodyTienda{
  padding-left: 50px;
  background-image: url('./components/cards/gamer.jpg');
}

.body-inicio{
  padding-left: 30px;
  padding-right: 30px;
  background-image: url('./components/cards/gamer.jpg');
}

.inicio {
  background-image: url('./components/cards/gamer.jpg');
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 45px;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 45px;
}

#nav-item{
  margin-left: 10px;
  color: black;
}

#boton{
  display: inline-block;
  width: 90px;
  height: 50px;
  margin-left: 10px;
}

#boton2{
  display: inline-block;
  width: 100px;
  height: 60px;
  padding: 9px;
  margin-left: 10px;
}

.letras{
  color: white;
  padding-bottom: 6px;
}

.titulos {
  color: white;
  height: 45px;
  width: 270px;
  transition: all 2s;
  margin-top: 49px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.titulos:hover {
  transform: scale(1.5);
}

.padre {
  background-image: url('./components/cards/gamer.jpg');
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 45px;
  justify-items: center;
  margin-top: 50px;

}
